<form {{action "save" on="submit"}}>
  <div>
    <label>
      Title
      {{input type="text" value=title}}
    </label>
  </div>
  <div>
    <label>
      Body
      {{input type="text" value=body}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
