<form role="form" {{action "save" on="submit"}}>

  <div class="form-group">
    <label for="title">Title:</label>
    {{input type="text" value=title}}
  </div>

  <div class="form-group">
    <label for="body">Body:</label>
    {{textarea type="text" value=body}}
  </div>

  <button type="submit" value="Save" class="btn btn-primary">Submit</button>

</form>
